<div class="form-group">

<%= form_for @user do |f| %> 
    <div class="row"><%= f.text_field :first_name, :placeholder => "Nome" %></div>
    <div class="row"><%= f.text_field :last_name, :placeholder => "Sobrenome" %></div>
    <div class="row"><%= f.email_field :email, :placeholder => "Email" %></div>
    <div class="row"><%= f.text_field :address, :placeholder => "Endereço" %></div>
    <div class="row"><%= f.telephone_field :phone_number, :placeholder => "Telefone" %></div>
    <div class="row"><%= f.password_field :password, :placeholder => "senha" %></div>
    <div class="row"><%= f.submit "Criar conta", class: "btn-submit" %></div>
<% end %>

</div>
