<h2><%= @user.first_name %> <%= @user.last_name %></h2>

<div class="userData">
  Nome = <%= @user.first_name %><br>
  Sobrenome = <%= @user.last_name %><br>
  Endereço = <%= @user.address %><br>
  Telefone = <%= @user.phone_number %><br>
  Email = <%= @user.email %><br>
</div>

<div class="orders">
  <h2>Pedidos</h2>  
  <table class="table table-striped table-condensed">
    <thead>
      <th>
        Número do pedido
      </th>
      <th>
        Data
      </th>
      <th>
        Status
      </th>
    </thead>
    <tbody>
      <% @user.orders.each do |order| %>
        <% if order.status != 'cart' %>
          <tr>
            <td><a href="/orders/<%= order.id %>"><%= order.id %></a></td>
            <td><%= order.created_at %></td>
            <td><%= order.status %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>