<h2><%= @user.first_name %> <%= @user.last_name %></h2>

<div class="userData">
  Nome = <%= @user.first_name %><br>
  Sobrenome = <%= @user.last_name %><br>
  Endereço = <%= @user.address %><br>
  Telefone = <%= @user.phone_number %><br>
  Email = <%= @user.email %><br>
</div>

<%= render 'order_list' %> 