<div class="row">
<strong><%= @product.name %></strong>
</div>

<div class="row">
  <p>
   <% @product.images.each do |i| %>
   <div class="col-md-4">
   <%= image_tag i.img.url(:medium) %>
   </div>
   <% end %>
  </p>
</div>

<div class = "users classify">
  <% if user_signed_in? %>
    <%= render "rates/rateIdentifier" %>
  <% else %>
    <h5> Entre para avaliar o produto </h5>
  <% end %>
</div>

<div class="row">
  <strong>Descrição:</strong> <%= @product.description%> 
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-9">
    <div class="row">
      <strong>Preço:</strong> $<%= @product.price %>
    </div>
    <div class="row">
      <%= form_for :orders, url: add_item_to_cart_orders_path do |f| %>
        <%= f.hidden_field :product_id, { value: @product.id } %>
        <%= f.number_field :quantity, { value: 1 } %>
        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
      <% end %>
    </div>
  </div>
</div>
<h3>COmentarios</h3>

<%= react_component('CommentBox', {product_id: @product.id}) %>
