<!DOCTYPE html>
<html>
  <head>
    <title>NunesBambuWebpage</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/ffaba34bad.js"></script>
    
    <%= csrf_meta_tags %>
    
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"> Luminárias <span class="sr-only">(current)</span></a></li>
        <li><a href="#"> Utensílios de cozinha </a></li>
        <li><a href="#"> Brindes para empresas </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Categorias <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"> Móveis / Móveis sob medida</a></li>
            <li><a href="#"> Construção </a></li>
            <li><a href="#"> Matéria prima </a></li>
            <li><a href="#"> Revestimentos </a></li>
            <li><a href="#"> Locação de móveis </a></li>
            <li><a href="#"> Decoração </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"> Cursos </a></li>
          </ul>
        </li>
      </ul>
      
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %> 
          <ul> 
          <li><%= current_user.email %></li> 
          <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li> 
          </ul> 
        <% else %> 
          <ul> 
          <li><%= link_to "Entrar", '/users/sign_in' %></a></li> 
          <li><%= link_to "Cadastrar", '/users/sign_up' %></a></li> 
          </ul> 
          <% end %>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  </head>

  <body class = "container">
    <div class="row">
      <div class="col-xs-3">
        <ul>
        <% Category.all.each do |c| %>
          <li>
            <%= link_to c.name, category_path(c) %>
          </li>
        <% end %>
        </ul>
      </div>
      <div class="col-xs-9">
        <%= yield %>
      </div>
    </div>    
  </body>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
